.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-radius: 2px;
  margin: 15px 0;
  border-radius: 2px;
}

.grid-4 {
  grid-column: span 4;
}

.grid-8 {
  grid-column: span 8;
  border: 1.5px solid #e5e7e9;
  border-radius: 5px;
  padding: 14px;
  box-shadow: 1px 1px 3px 1px #f4f5f6;
}

.menu {
  width: 80%;
}

.menu-item {
  padding: 14px;
  border-right: 1px solid #d4d6d8;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .menu-item {
    padding: 8px;
  }
}

.active {
  border-right: none;
  border-bottom: 1px solid #d4d6d8;
  border-left: 1px solid #d4d6d8;
  border-top: 1px solid #d4d6d8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
