.item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.content {
  grid-column: span 10;
}

.header {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 5px 0 7px 0;
}

.description {
  color: rgb(151, 140, 140);
}

.image {
  grid-column: span 2;
  border-radius: 2px;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .image {
    grid-column: span 12;
  }
}
