<!-- Shows the component on the basis of the routing rules defined. -->
<div class="container">
  <nav>
    <div class="navbar">
      <!-- Router Link ends up changing the location of the application and hence 
    conditionally renders different components -->

      <!-- routerLinkActive applies the given class on the element when 
    the user is currently on the link which is mentioned inside of 
    routerLink -->

      <a routerLink="/elements" routerLinkActive="active">Elements</a>
      <a routerLink="/collections" routerLinkActive="active">Collections</a>
      <a routerLink="/views" routerLinkActive="active">Views</a>
      <a routerLink="/modules" routerLinkActive="active">Modules</a>
    </div>
  </nav>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
